@import "tailwindcss";

@theme {
  --color-bg-base: #f4f1ea;
  --color-bg-surface: #ffffff;
  --color-text-primary: #14140f;
  --color-text-muted: #63625a;
  --color-accent-primary: #1e3fd6;
  --color-accent-secondary: #ff5a1f;

  --font-archivo: var(--font-archivo);
}
