@import "tailwindcss";

@theme {
  /* Background */
  --color-bg-main: #1e1e1e;
  --color-bg-sidebar: #181818;
  --color-bg-preview: #171717;
  --color-bg-tab-inactive: #2a2a2a;
  --color-bg-active-element: #2a2d2e;
  --color-selection: #264f78;

  /* Text */
  --color-text-primary: #d4d4d4;
  --color-text-dimmed: #8a8a8a;

  /* Editor */
  --color-syntax-keyword: #c586c0;
  --color-syntax-string: #ce9178;
  --color-syntax-function: #dcdcaa;
  --color-syntax-accent: #4fc1ff;
  --color-syntax-comment: #6a9955;

  /* Border */
  --color-border-line: #333333;

  --font-sans: var(--font-jetbrains), monospace;
}

body {
  background-color: var(--color-bg-main);
  color: var(--color-text-primary);
}
